# setuptools_scm will add all files that are not ignored, so we must ignore them here
prune .github/
prune lib/
prune scripts/
prune src/
prune test/
graft config
graft docs
exclude .dockerignore .gitignore .pre-commit-config.yaml Makefile uv.lock
include klippy/.version
