# setuptools_scm will add all files that are not ignored, so we must ignore them here
prune .github/
prune config/
prune docs/
prune lib/
prune scripts/
prune src/
prune test/
ignore .dockerignore .gitignore .pre-commit-config.yaml Makefile
include klippy/.version